# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Docker
.env

# Jenkins
jenkins_home/

# Temporary
*.tmp
*.bak

# Vagrant
.vagrant/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.*
.terraform.lock.hcl

# Credentials
*.pem
*.key
terraform.tfvars
terraform-user_accessKeys.csv