[defaults]
deprecation_warnings = False
# Де знаходиться список серверів
inventory = ./ansible/inventory/aws_ec2.yml

# Від якого юзера підключатись (ubuntu — стандартний юзер на Ubuntu AMI)
remote_user = ubuntu

# Наш SSH ключ який ми створили
private_key_file = ~/.ssh/ansible_lab_key

# Не питати підтвердження SSH fingerprint (для автоматизації)
host_key_checking = False

# Читабельніший вивід у форматі yaml (новий синтаксис для ansible-core 2.13+)
stdout_callback = default
result_format = yaml

# Фіксуємо warning про Python interpreter
interpreter_python = /usr/bin/python3

# Де шукати ролі
roles_path = ./ansible/roles
